body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: #1b4990;
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}